

.Signup{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 250px);
}

.FormErrors{ 
    min-height: 185px;
    min-width: 400px;
    max-width: 400px;
    padding: 15px;
    border-radius: 15px;
    outline: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    word-wrap: normal;
}
.SignupMessage{ 
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    opacity: 100; /* Start with opacity set to 0 */
    transition: opacity 0.5s ease; /* Add transition effect for opacity */
}
.SignupFormUL{ 
    display: block;
    margin: 0px;
}
.SignupErrorList{ 
    display: block;
}

.SignupForm{ 
    outline: 1px solid pink;

    width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;

    background-color: white;
    color: black;
}





.SignupFormLabel{ 
    font-weight: bold;

}
.Signup input{ 
    margin-bottom: 10px;
    padding: 10px;;
}
.InvalidInput{
    background-color: rgb(237, 237, 237);
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: none;;
    padding: 10px;;
}
.InvalidInput:focus{ 
    background-color: rgb(237, 237, 237);
    color: black;
    outline: 3px solid #5eb7ff;; /* Disable default outline */
    box-shadow: 0 0 15px #ffffff; /* Add a custom box shadow */
    padding: 10px;;
    
}
.ValidInput{
    background-color: rgb(237, 237, 237);
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: none;;
    outline: 3px solid #15ff00;; /* Disable default outline */
    padding: 10px;;
}
    .ValidInput:focus{ 
        background-color: rgb(237, 237, 237);
        color: black;
        padding: 5px;
        border-radius: 5px;
        border: none;;
        outline: 3px solid #15ff00;; /* Disable default outline */
        padding: 10px;;
        
    }
